<div id="<%= dom_id inward_order_detail %>">
  <p>
    <strong>Order number:</strong>
    <%= inward_order_detail.order_number %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= inward_order_detail.serial_number %>
  </p>

  <p>
    <strong>Item number:</strong>
    <%= inward_order_detail.item_number %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= inward_order_detail.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= inward_order_detail.status %>
  </p>


</div>
