<h1>Editing inward order detail</h1>

<%= render "form", inward_order_detail: @inward_order_detail %>

<br>

<div>
  <%= link_to "Show this inward order detail", @inward_order_detail %> |
  <%= link_to "Back to inward order details", inward_order_details_path %>
</div>
