<p style="color: green"><%= notice %></p>

<h1>Inward order details</h1>

<div id="inward_order_details">
  <% @inward_order_details.each do |inward_order_detail| %>
    <%= render inward_order_detail %>
    <p>
      <%= link_to "Show this inward order detail", inward_order_detail %>
    </p>
  <% end %>
</div>

<%= link_to "New inward order detail", new_inward_order_detail_path %>
