<p style="color: green"><%= notice %></p>

<%= render @inward_order_detail %>

<div>
  <%= link_to "Edit this inward order detail", edit_inward_order_detail_path(@inward_order_detail) %> |
  <%= link_to "Back to inward order details", inward_order_details_path %>

  <%= button_to "Destroy this inward order detail", @inward_order_detail, method: :delete %>
</div>
