<%= form_with(model: outward_order_detail) do |form| %>
  <% if outward_order_detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(outward_order_detail.errors.count, "error") %> prohibited this outward_order_detail from being saved:</h2>

      <ul>
        <% outward_order_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :order_number, style: "display: block" %>
    <%= form.text_field :order_number %>
  </div>

  <div>
    <%= form.label :serial_number, style: "display: block" %>
    <%= form.text_field :serial_number %>
  </div>

  <div>
    <%= form.label :item_number, style: "display: block" %>
    <%= form.text_field :item_number %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
