<h1>Editing outward order detail</h1>

<%= render "form", outward_order_detail: @outward_order_detail %>

<br>

<div>
  <%= link_to "Show this outward order detail", @outward_order_detail %> |
  <%= link_to "Back to outward order details", outward_order_details_path %>
</div>
