<p style="color: green"><%= notice %></p>

<h1>Outward order details</h1>

<div id="outward_order_details">
  <% @outward_order_details.each do |outward_order_detail| %>
    <%= render outward_order_detail %>
    <p>
      <%= link_to "Show this outward order detail", outward_order_detail %>
    </p>
  <% end %>
</div>

<%= link_to "New outward order detail", new_outward_order_detail_path %>
