<p style="color: green"><%= notice %></p>

<%= render @outward_order_detail %>

<div>
  <%= link_to "Edit this outward order detail", edit_outward_order_detail_path(@outward_order_detail) %> |
  <%= link_to "Back to outward order details", outward_order_details_path %>

  <%= button_to "Destroy this outward order detail", @outward_order_detail, method: :delete %>
</div>
