<div id="<%= dom_id stock %>">
  <p>
    <strong>Storage:</strong>
    <%= stock.storage_id %>
  </p>

  <p>
    <strong>Item number:</strong>
    <%= stock.item_number %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= stock.amount %>
  </p>

</div>
