<%= form_with(model: storage) do |form| %>
  <% if storage.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(storage.errors.count, "error") %> prohibited this storage from being saved:</h2>

      <ul>
        <% storage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :storage_id, style: "display: block" %>
    <%= form.text_field :storage_id %>
  </div>

  <div>
    <%= form.label :in_use, style: "display: block" %>
    <%= form.check_box :in_use %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
