<div id="<%= dom_id outward_order %>">
  <p>
    <strong>Order number:</strong>
    <%= outward_order.order_number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= outward_order.status %>
  </p>

</div>
