<h1>Editing outward order</h1>

<%= render "form", outward_order: @outward_order %>

<br>

<div>
  <%= link_to "Show this outward order", @outward_order %> |
  <%= link_to "Back to outward orders", outward_orders_path %>
</div>
