<p style="color: green"><%= notice %></p>

<h1>Outward orders</h1>

<div id="outward_orders">
  <% @outward_orders.each do |outward_order| %>
    <%= render outward_order %>
    <p>
      <%= link_to "Show this outward order", outward_order %>
    </p>
  <% end %>
</div>

<%= link_to "New outward order", new_outward_order_path %>
