<p style="color: green"><%= notice %></p>

<%= render @outward_order %>

<div>
  <%= link_to "Edit this outward order", edit_outward_order_path(@outward_order) %> |
  <%= link_to "Back to outward orders", outward_orders_path %>

  <%= button_to "Destroy this outward order", @outward_order, method: :delete %>
</div>
