<div id="<%= dom_id item %>">
  <p>
    <strong>Item number:</strong>
    <%= item.item_number %>
  </p>

  <p>
    <strong>Item name:</strong>
    <%= item.item_name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= item.amount %>
  </p>

</div>
