<%= form_with(model: inward_order) do |form| %>
  <% if inward_order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inward_order.errors.count, "error") %> prohibited this inward_order from being saved:</h2>

      <ul>
        <% inward_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :order_number, style: "display: block" %>
    <%= form.text_field :order_number %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
