<div id="<%= dom_id inward_order %>">
  <p>
    <strong>Order number:</strong>
    <%= inward_order.order_number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= inward_order.status %>
  </p>

</div>
