<h1>Editing inward order</h1>

<%= render "form", inward_order: @inward_order %>

<br>

<div>
  <%= link_to "Show this inward order", @inward_order %> |
  <%= link_to "Back to inward orders", inward_orders_path %>
</div>
