<p style="color: green"><%= notice %></p>

<h1>Inward orders</h1>

<div id="inward_orders">
  <% @inward_orders.each do |inward_order| %>
    <%= render inward_order %>
    <p>
      <%= link_to "Show this inward order", inward_order %>
    </p>
  <% end %>
</div>

<%= link_to "New inward order", new_inward_order_path %>
