<p style="color: green"><%= notice %></p>

<%= render @inward_order %>

<div>
  <%= link_to "Edit this inward order", edit_inward_order_path(@inward_order) %> |
  <%= link_to "Back to inward orders", inward_orders_path %>

  <%= button_to "Destroy this inward order", @inward_order, method: :delete %>
</div>
